In [1]:
from API import KEY, URL
from pandas import DataFrame
from requests import get
from json import dumps

In [2]:
# API 'GET' Request
qry = f'{URL}teams/NBA/?key={KEY}&season=2024&max=1000'
data = get(qry).json()
data.keys()

dict_keys(['teams', 'success', 'meta'])

In [3]:
print(dumps(data, indent=4))

{
    "teams": {
        "team_6": {
            "ID": "6",
            "Name": "Atlanta Hawks",
            "Abbrev": "ATL",
            "Active": "Y"
        },
        "team_5": {
            "ID": "5",
            "Name": "Boston Celtics",
            "Abbrev": "BOS",
            "Active": "Y"
        },
        "team_36": {
            "ID": "36",
            "Name": "Brooklyn Nets",
            "Abbrev": "BRK",
            "Active": "Y"
        },
        "team_3": {
            "ID": "3",
            "Name": "Charlotte Hornets",
            "Abbrev": "CHH",
            "Active": "Y"
        },
        "team_8": {
            "ID": "8",
            "Name": "Chicago Bulls",
            "Abbrev": "CHI",
            "Active": "Y"
        },
        "team_9": {
            "ID": "9",
            "Name": "Cleveland Cavaliers",
            "Abbrev": "CLE",
            "Active": "Y"
        },
        "team_23": {
            "ID": "23",
            "Name": "Dallas Mavericks",
            "Abbrev": "DAL",
            "Active": "Y"
        },
        "team_24": {
            "ID": "24",
            "Name": "Denver Nuggets",
            "Abbrev": "DEN",
            "Active": "Y"
        },
        "team_22": {
            "ID": "22",
            "Name": "Detroit Pistons",
            "Abbrev": "DET",
            "Active": "Y"
        },
        "team_25": {
            "ID": "25",
            "Name": "Golden State Warriors",
            "Abbrev": "GSW",
            "Active": "Y"
        },
        "team_1": {
            "ID": "1",
            "Name": "Houston Rockets",
            "Abbrev": "HOU",
            "Active": "Y"
        },
        "team_18": {
            "ID": "18",
            "Name": "Indiana Pacers",
            "Abbrev": "IND",
            "Active": "Y"
        },
        "team_11": {
            "ID": "11",
            "Name": "Los Angeles Clippers",
            "Abbrev": "LAC",
            "Active": "Y"
        },
        "team_27": {
            "ID": "27",
            "Name": "Los Angeles Lakers",
            "Abbrev": "LAL",
            "Active": "Y"
        },
        "team_31": {
            "ID": "31",
            "Name": "Memphis Grizzlies",
            "Abbrev": "MEM",
            "Active": "Y"
        },
        "team_16": {
            "ID": "16",
            "Name": "Miami Heat",
            "Abbrev": "MIA",
            "Active": "Y"
        },
        "team_7": {
            "ID": "7",
            "Name": "Milwaukee Bucks",
            "Abbrev": "MIL",
            "Active": "Y"
        },
        "team_2": {
            "ID": "2",
            "Name": "Minnesota Timberwolves",
            "Abbrev": "MIN",
            "Active": "Y"
        },
        "team_38": {
            "ID": "38",
            "Name": "New Orleans Pelicans",
            "Abbrev": "NOP",
            "Active": "Y"
        },
        "team_21": {
            "ID": "21",
            "Name": "New York Knicks",
            "Abbrev": "NYK",
            "Active": "Y"
        },
        "team_35": {
            "ID": "35",
            "Name": "Oklahoma City Thunder",
            "Abbrev": "OKC",
            "Active": "Y"
        },
        "team_13": {
            "ID": "13",
            "Name": "Orlando Magic",
            "Abbrev": "ORL",
            "Active": "Y"
        },
        "team_28": {
            "ID": "28",
            "Name": "Philadelphia 76ers",
            "Abbrev": "PHI",
            "Active": "Y"
        },
        "team_14": {
            "ID": "14",
            "Name": "Phoenix Suns",
            "Abbrev": "PHO",
            "Active": "Y"
        },
        "team_4": {
            "ID": "4",
            "Name": "Portland Trail Blazers",
            "Abbrev": "POR",
            "Active": "Y"
        },
        "team_15": {
            "ID": "15",
            "Name": "Sacramento Kings",
            "Abbrev": "SAC",
            "Active": "Y"
        },
        "team_17": {
            "ID": "17",
            "Name": "San Antonio Spurs",
            "Abbrev": "SAS",
            "Active": "Y"
        },
        "team_10": {
            "ID": "10",
            "Name": "Toronto Raptors",
            "Abbrev": "TOR",
            "Active": "Y"
        },
        "team_26": {
            "ID": "26",
            "Name": "Utah Jazz",
            "Abbrev": "UTA",
            "Active": "Y"
        },
        "team_20": {
            "ID": "20",
            "Name": "Washington Wizards",
            "Abbrev": "WAS",
            "Active": "Y"
        },
        "team_30": {
            "ID": "30",
            "Name": "Washington Bullets",
            "Abbrev": "WSB",
            "Active": "N"
        }
    },
    "success": "1",
    "meta": {
        "User": "Rtamashiro88@gmail.com",
        "AuthLevels": "NBA",
        "Processed_At": "2024-04-09 12:27:44",
        "Processing_Time": "0.21395206451416 sec",
        "Time_Zone": "America/New_York",
        "X-RateLimit-Remaining": "497",
        "X-RateLimit-Limit": "500",
        "X-RateLimit-Reset": "2024-04-09 17:01:06",
        "Max_Results": "1000",
        "Total_Results": "33",
        "Page": "1",
        "Total_Pages": "1",
        "Next_Page": "https://api.natstat.com/v1/teams/NBA/?key=305b-455498&season=2024&max=1000&page=2",
        "API_Version": "2",
        "Support": "https://natstat.com/support",
        "Report_Data_Errors": "https://natstat.com/support"
    }
}

In [4]:
print(*data['teams'].values(), sep='\n')

{'ID': '6', 'Name': 'Atlanta Hawks', 'Abbrev': 'ATL', 'Active': 'Y'}
{'ID': '5', 'Name': 'Boston Celtics', 'Abbrev': 'BOS', 'Active': 'Y'}
{'ID': '36', 'Name': 'Brooklyn Nets', 'Abbrev': 'BRK', 'Active': 'Y'}
{'ID': '3', 'Name': 'Charlotte Hornets', 'Abbrev': 'CHH', 'Active': 'Y'}
{'ID': '8', 'Name': 'Chicago Bulls', 'Abbrev': 'CHI', 'Active': 'Y'}
{'ID': '9', 'Name': 'Cleveland Cavaliers', 'Abbrev': 'CLE', 'Active': 'Y'}
{'ID': '23', 'Name': 'Dallas Mavericks', 'Abbrev': 'DAL', 'Active': 'Y'}
{'ID': '24', 'Name': 'Denver Nuggets', 'Abbrev': 'DEN', 'Active': 'Y'}
{'ID': '22', 'Name': 'Detroit Pistons', 'Abbrev': 'DET', 'Active': 'Y'}
{'ID': '25', 'Name': 'Golden State Warriors', 'Abbrev': 'GSW', 'Active': 'Y'}
{'ID': '1', 'Name': 'Houston Rockets', 'Abbrev': 'HOU', 'Active': 'Y'}
{'ID': '18', 'Name': 'Indiana Pacers', 'Abbrev': 'IND', 'Active': 'Y'}
{'ID': '11', 'Name': 'Los Angeles Clippers', 'Abbrev': 'LAC', 'Active': 'Y'}
{'ID': '27', 'Name': 'Los Angeles Lakers', 'Abbrev': 'LAL', 'Active': 'Y'}
{'ID': '31', 'Name': 'Memphis Grizzlies', 'Abbrev': 'MEM', 'Active': 'Y'}
{'ID': '16', 'Name': 'Miami Heat', 'Abbrev': 'MIA', 'Active': 'Y'}
{'ID': '7', 'Name': 'Milwaukee Bucks', 'Abbrev': 'MIL', 'Active': 'Y'}
{'ID': '2', 'Name': 'Minnesota Timberwolves', 'Abbrev': 'MIN', 'Active': 'Y'}
{'ID': '38', 'Name': 'New Orleans Pelicans', 'Abbrev': 'NOP', 'Active': 'Y'}
{'ID': '21', 'Name': 'New York Knicks', 'Abbrev': 'NYK', 'Active': 'Y'}
{'ID': '35', 'Name': 'Oklahoma City Thunder', 'Abbrev': 'OKC', 'Active': 'Y'}
{'ID': '13', 'Name': 'Orlando Magic', 'Abbrev': 'ORL', 'Active': 'Y'}
{'ID': '28', 'Name': 'Philadelphia 76ers', 'Abbrev': 'PHI', 'Active': 'Y'}
{'ID': '14', 'Name': 'Phoenix Suns', 'Abbrev': 'PHO', 'Active': 'Y'}
{'ID': '4', 'Name': 'Portland Trail Blazers', 'Abbrev': 'POR', 'Active': 'Y'}
{'ID': '15', 'Name': 'Sacramento Kings', 'Abbrev': 'SAC', 'Active': 'Y'}
{'ID': '17', 'Name': 'San Antonio Spurs', 'Abbrev': 'SAS', 'Active': 'Y'}
{'ID': '10', 'Name': 'Toronto Raptors', 'Abbrev': 'TOR', 'Active': 'Y'}
{'ID': '26', 'Name': 'Utah Jazz', 'Abbrev': 'UTA', 'Active': 'Y'}
{'ID': '20', 'Name': 'Washington Wizards', 'Abbrev': 'WAS', 'Active': 'Y'}
{'ID': '30', 'Name': 'Washington Bullets', 'Abbrev': 'WSB', 'Active': 'N'}

In [5]:
df = DataFrame(data=data['teams'].values())

In [6]:
df.head()

   ID               Name Abbrev Active
0   6      Atlanta Hawks    ATL      Y
1   5     Boston Celtics    BOS      Y
2  36      Brooklyn Nets    BRK      Y
3   3  Charlotte Hornets    CHH      Y
4   8      Chicago Bulls    CHI      Y

In [7]:
df = df.rename(columns=
    {
    'ID': 'TeamID',
    'Name': 'Description'
    }
)

In [8]:
df.dtypes

TeamID         object
Description    object
Abbrev         object
Active         object
dtype: object

In [9]:
df['TeamID'] = df['TeamID'].astype(int)
df['Active'] = df['Active'].astype(bool)

In [10]:
df.dtypes

TeamID          int32
Description    object
Abbrev         object
Active           bool
dtype: object

In [11]:
team_data = df \
    .set_index('TeamID') \
    .sort_index()

In [12]:
team_data['Name'] = team_data['Description'].apply(lambda x: x.split(" ")[1].strip())
team_data['City'] = team_data['Description'].apply(lambda x: x.split(" ")[0].strip())
team_data.head()

                   Description Abbrev  Active          Name       City
TeamID
1              Houston Rockets    HOU    True       Rockets    Houston
2       Minnesota Timberwolves    MIN    True  Timberwolves  Minnesota
3            Charlotte Hornets    CHH    True       Hornets  Charlotte
4       Portland Trail Blazers    POR    True         Trail   Portland
5               Boston Celtics    BOS    True       Celtics     Boston

In [13]:
team_data = team_data[
    [
    'Name',
    'City',
    'Abbrev',
    'Description',
    'Active'
    ]
]

In [14]:
team_data

                Name          City Abbrev             Description  Active
TeamID
1            Rockets       Houston    HOU         Houston Rockets    True
2       Timberwolves     Minnesota    MIN  Minnesota Timberwolves    True
3            Hornets     Charlotte    CHH       Charlotte Hornets    True
4              Trail      Portland    POR  Portland Trail Blazers    True
5            Celtics        Boston    BOS          Boston Celtics    True
6              Hawks       Atlanta    ATL           Atlanta Hawks    True
7              Bucks     Milwaukee    MIL         Milwaukee Bucks    True
8              Bulls       Chicago    CHI           Chicago Bulls    True
9          Cavaliers     Cleveland    CLE     Cleveland Cavaliers    True
10           Raptors       Toronto    TOR         Toronto Raptors    True
11           Angeles           Los    LAC    Los Angeles Clippers    True
13             Magic       Orlando    ORL           Orlando Magic    True
14              Suns       Phoenix    PHO            Phoenix Suns    True
15             Kings    Sacramento    SAC        Sacramento Kings    True
16              Heat         Miami    MIA              Miami Heat    True
17           Antonio           San    SAS       San Antonio Spurs    True
18            Pacers       Indiana    IND          Indiana Pacers    True
20           Wizards    Washington    WAS      Washington Wizards    True
21              York           New    NYK         New York Knicks    True
22           Pistons       Detroit    DET         Detroit Pistons    True
23         Mavericks        Dallas    DAL        Dallas Mavericks    True
24           Nuggets        Denver    DEN          Denver Nuggets    True
25             State        Golden    GSW   Golden State Warriors    True
26              Jazz          Utah    UTA               Utah Jazz    True
27           Angeles           Los    LAL      Los Angeles Lakers    True
28             76ers  Philadelphia    PHI      Philadelphia 76ers    True
30           Bullets    Washington    WSB      Washington Bullets    True
31         Grizzlies       Memphis    MEM       Memphis Grizzlies    True
35              City      Oklahoma    OKC   Oklahoma City Thunder    True
36              Nets      Brooklyn    BRK           Brooklyn Nets    True
38           Orleans           New    NOP    New Orleans Pelicans    True

In [15]:
team_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 1 to 38
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         31 non-null     object
 1   City         31 non-null     object
 2   Abbrev       31 non-null     object
 3   Description  31 non-null     object
 4   Active       31 non-null     bool
dtypes: bool(1), object(4)
memory usage: 1.1+ KB